source: src
destination: doc
extensions: [php]

title: AppShed Extentions

accessLevels: [public, protected]
php: No
tree: Yes
sourceCode: Yes
download: Yes

wipeout: Yes
quiet: No
progressbar: Yes
colors: Yes
updateCheck: Yes
debug: No
